<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body style="
      margin: 0;
      background-color: gainsboro;">
    <nav style="
    border-bottom: solid black 1px;
    border-top: solid black 1px;
     background-color:deepskyblue ;
     padding: 1em;">
        <nav th:replace="fragments :: page-header"></nav>
    </nav>

    <div style="
margin: 5em;
">


        <h1 th:text="${'Select Playlist to Delete'}" style="
margin-top:0;
text-align:center;
">Default Title</h1>
        <div style="
display: flex;
justify-content: center;
margin-top: 3em;
">
            <div>

                <form method="post" style="
max-width: 600px;
     background-color:deepskyblue ;
padding: 4em;
border-radius: 3em;
border-style: outset;
">
                    <div style="
text-align: center;
margin-top: 0em;
">

                    </div>
                    <div th:each="playlist : ${playlists}" style="
font-size: x-large;
margin: 1em 0;
display: flex;
flex-direction: row;
justify-content: space-between;
">

                        <span th:text="${playlist.name}"></span>
                        <input type="checkbox" name="playlistIds" th:value="${playlist.id}">
                    </div>
                    <input type="submit" value="Delete Selected Playlist" style="
    background-color: forestgreen;
width: 100%;
height: 2em;
border: 2px gainsboro unset;
border-radius: 2em;
font-size: large;
" />
                </form>
            </div>
        </div>
    </div>


</body>

</html>